rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Certificados so devem ser acessados pelo servidor
    match /certificados/{cert} {
      allow read, write: if false;
    }

    match /empresas/{empresa} {
      allow read: if readEnabled();
      allow create, delete: if false;
      allow update: if isAdmin();

      function isSignedIn() {
        return request.auth != null;
      }

      function getStatus() {
        return request.auth.token[empresa];
      }

      function readEnabled() {
        return isSignedIn() && getStatus() in ['R', 'RW', 'A'];
      }

      function writeEnabled() {
        return isSignedIn() && getStatus() in ['RW', 'A'];
      }

      function isAdmin() {
        return isSignedIn() && getStatus() == 'A';
      }

      match /clientes/{cliente} {
        allow read: if readEnabled();
        allow create, update: if writeEnabled();
        allow delete: if isAdmin();
      }

      match /transportes/{transporte} {
        allow read: if readEnabled();
        allow create, update: if writeEnabled();
        allow delete: if isAdmin();
      }

      match /produtos/{produto} {
        allow read: if readEnabled();
        allow create, update: if writeEnabled();
        allow delete: if isAdmin();
      }

      match /nfes/{nota} {
        allow read: if readEnabled();
        allow create, update: if writeEnabled();
        allow delete: if isAdmin();
      }

      match /impostos/{imposto} {
        allow read: if readEnabled();
        allow write: if writeEnabled();
      }

      match /veiculos/{nota} {
        allow read: if readEnabled();
        allow write: if writeEnabled();
      }
    }
  }
}
