html {
  scroll-behavior: smooth;
}

input[type='file'] {
  display: none;
}

small {
  font-weight: 300;
}

td > button {
  margin-bottom: 0px;
}

td > .button {
  margin-bottom: 0px;
}

tbody > tr.clicavel {
  cursor: pointer;
}

tbody > tr.marcado {
  background-color: #e1e1e1;
}

p {
  max-width: 600px;
}
